
.field {
  width: 112px;
  height: 72px;
  margin-bottom: 10px;
  border: 3px solid black;
  box-shadow: 0px 0px 0px 1px black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px black;
  font-size: 28px;
}

.field:first-child {
  background-image: url('./../../shared/assets/start.webp');
  background-size: cover;
  background-position: center;
  height: 112px;
  margin-top: -40px;
}
.field:nth-child(7), .field:nth-child(21), .field:nth-child(35) {
  border-radius: 0 50% 0 0;
  margin-bottom: 0;
  border-bottom: 8px solid black;
}
.field:nth-child(8), .field:nth-child(22), .field:nth-child(36) {
  border-radius: 50% 0 0 0;
  margin-bottom: 0;
  border-bottom: 8px solid black;
}
.field:nth-child(14), .field:nth-child(28), .field:nth-child(42) {
  border-radius: 0 0 50% 0;
  border-top: 6px solid black;
  margin-top: -3px;
}
.field:nth-child(15), .field:nth-child(29), .field:nth-child(43) {
  border-radius: 0 0 0 50%;
  border-top: 6px solid black;
  margin-top: -3px;
}
.field:last-child {
  background: linear-gradient(45deg, black 25%, transparent 25%),
              linear-gradient(-45deg, black 25%, transparent 25%),
              linear-gradient(45deg, transparent 75%, black 75%),
              linear-gradient(-45deg, transparent 75%, black 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: white;
  height: 112px;
}

.field-grid {
  .speak {
    background: #0394ef;
  }
  .show {
    background: #fd1e84;
  }
  .draw {
    background: #fdd403;
  }
  .speak:hover {
    background: #0480ce;
  }
  .show:hover {
    background: #cf1a6c;
  }
  .draw:hover {
    background: #d8b403;
  }
  .speak:active {
    background: #0394ef;
  }
  .show:active {
    background: #fd1e84;
  }
  .draw:active {
    background: #fdd403;
  }
}

/* Styles for viewport widths of 1121px and below */
@media screen and (max-width: 1121px) {
  .field {
    width: 93px;
  }

  .field:first-child {
    height: 100px;
    margin-top: -28px;
  }

  .field:last-child {
    height: 100px;
  }
}

/* Styles for viewport widths of 937px and below */
@media screen and (max-width: 937px) {
  .field {
    width: 81px;
  }

  .field:first-child {
    height: 88px;
    margin-top: -16px;
  }

  .field:last-child {
    height: 88px;
  }
}

/* Styles for viewport widths of 853px and below */
@media screen and (max-width: 853px) {
  .field-grid {
    .field {
      border-radius: 0;
      margin: 0;
      margin-bottom: 10px;
      border: 3px solid black;
      height: 50px;
    }
  
    .field:first-child {
      height: 81px;
      margin-top: -31px;
    }
  
    .field:last-child {
      display: none;
    }
  
    .field:nth-child(5), .field:nth-child(15), .field:nth-child(25), .field:nth-child(35), .field:nth-child(45) {
      border-radius: 0 50% 0 0;
      margin-bottom: 0;
      border-bottom: 8px solid black;
    }
    .field:nth-child(6), .field:nth-child(16), .field:nth-child(26), .field:nth-child(36) {
      border-radius: 50% 0 0 0;
      margin-bottom: 0;
      border-bottom: 8px solid black;
    }
    .field:nth-child(10), .field:nth-child(20), .field:nth-child(30), .field:nth-child(40), .field:nth-child(48) {
      border-radius: 0 0 50% 0;
      border-top: 6px solid black;
      margin-top: -3px;
    }
    .field:nth-child(11), .field:nth-child(21), .field:nth-child(31), .field:nth-child(41) {
      border-radius: 0 0 0 50%;
      border-top: 6px solid black;
      margin-top: -3px;
    }

    .field:nth-child(46) {
      position: relative;
    }
    .field:nth-child(46)::before {
      content: '';
      background: linear-gradient(45deg, black 25%, transparent 25%),
      linear-gradient(-45deg, black 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, black 75%),
      linear-gradient(-45deg, transparent 75%, black 75%);
      background-size: 20px 20px;
      background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
      background-color: white;
      border: 3px solid black;
      position: absolute;
      width: 80px;
      height: 80px;
      right: 85px;
      top: -4px;
    }
  }
}