/* normalize */

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* normalize end */

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/background.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.field-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 860px;
  margin-right: 50px;
  margin-top: 40px;
}

.field {
  width: 112px;
  height: 72px;
  margin-bottom: 10px;
  border: 3px solid black;
  box-shadow: 0px 0px 0px 1px black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px black;
  font-size: 28px;
}

.field:first-child {
  background-image: url('./assets/start.webp');
  background-size: cover;
  background-position: center;
  height: 112px;
  margin-top: -40px;
}
.field:nth-child(7), .field:nth-child(21), .field:nth-child(35) {
  border-radius: 0 50% 0 0;
  margin-bottom: 0;
  border-bottom: 8px solid black;
}
.field:nth-child(8), .field:nth-child(22), .field:nth-child(36) {
  border-radius: 50% 0 0 0;
  margin-bottom: 0;
  border-bottom: 8px solid black;
}
.field:nth-child(14), .field:nth-child(28), .field:nth-child(42) {
  border-radius: 0 0 50% 0;
  border-top: 6px solid black;
  margin-top: -3px;
}
.field:nth-child(15), .field:nth-child(29), .field:nth-child(43) {
  border-radius: 0 0 0 50%;
  border-top: 6px solid black;
  margin-top: -3px;
}
.field:last-child {
  background: linear-gradient(45deg, black 25%, transparent 25%),
              linear-gradient(-45deg, black 25%, transparent 25%),
              linear-gradient(45deg, transparent 75%, black 75%),
              linear-gradient(-45deg, transparent 75%, black 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: white;
  height: 112px;
}

.speak {
  background: #0394ef;
}
.show {
  background: #fd1e84;
}
.draw {
  background: #fdd403;
}
.speak:hover {
  background: #0480ce;
}
.show:hover {
  background: #cf1a6c;
}
.draw:hover {
  background: #d8b403;
}
.speak:active {
  background: #0394ef;
}
.show:active {
  background: #fd1e84;
}
.draw:active {
  background: #fdd403;
}

.card-slots {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 160px;
  height: 224px;
  background: green;
  border-radius: 20px;
  border: 15px solid white;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px, rgb(51 51 51) 0px 0px 0px 3px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card:hover {
  background: rgb(2, 153, 2);
}

.card:active {
  background: green;
}

h2 {
  font-size: 40px;
  color: #e39301;
  -webkit-text-stroke: 1px black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.difficulty {
  font-size: 150px;
  font-weight: bold;
  color: #e39301;
  -webkit-text-stroke: 3px black;
  text-align: center;
  margin-top: -10px;
}